<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <client>
      <endpoint name="mockClient"
                address="net.tcp://localhost:7890/"
                binding="netTcpBinding"
                contract="ServiceModelContrib.Tests.Mocks.IMockService" />
      
      <endpoint name="mockClient2"
                address="net.tcp://localhost:7001/"
                binding="netTcpBinding"
                contract="ServiceModelContrib.Tests.Mocks.IMockService" />

      <endpoint name="mockClient3"
                address="net.tcp://localhost:7002"
                binding="netTcpBinding"
                contract="ServiceModelContrib.Tests.Mocks.IMockService2" />
    </client>
    <services>
      <service name="ServiceModelContrib.Tests.Mocks.MockService">
        <endpoint address="net.tcp://localhost:7890"
              binding="netTcpBinding"
              contract="ServiceModelContrib.Tests.Mocks.IMockService"
              />
      </service>
    </services>
  </system.serviceModel>
</configuration>